{% extends "base.html" %}

{% block title %}Inicio - APP Inventario{% endblock %}

{% block content %}
    <h1>Inicio - APP Inventario</h1>
    <ul>
        <li>
          <a href="{% url "inventarioapp:lista_clientes" %}">Ver Clientes</a>
        </li>
        <li>
          <a href="{% url "inventarioapp:lista_propiedades" %}">Ver Propiedades</a>
        </li>
        <li>
          <a href="{% url "inventarioapp:estimador_m2" %}">Estimador de M2</a>
        </li>
        <li>
          <a href="{% url "inventarioapp:crear_formulario_entrega" %}">Crear formulario de Entrega</a>
        </li>
        <li>
          <a href="#">People</a>
        </li>
      </ul>
{% endblock %}